* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGray: #ececec;

body {
  font-family: "Open Sans", sans-serif;
  background-color: $mainWhite;
  color: $mainBlack;
}